<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <title>Kaiena - calendar</title>
        <link
            rel="stylesheet"
            href="../styles/calendar.css" />
            <link
            rel="stylesheet"
            href="../styles/main.css" />
        <script
            src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
        <script
            src="https://kit.fontawesome.com/ca2423a130.js"
            crossorigin="anonymous"></script>
    </head>
    <body>
        <nav>
            <a class="home" href="/">
                <i class="fa-solid fa-house"></i>
            <a/>
            <a class="register" href="/register">
                <i class="fa-solid fa-plus"></i>
            </a>
        </nav>
        <header>
            <div class="client">
                <h1 id="client-name"></h1>
            </div>
            <div class="date-wrapper">
                <button onclick="changeMonth(-1)">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                    <h1
                    hx-get="/monthYear"
                    hx-trigger="load, update-month"
                    hx-vals="js:{date: month, year: year}"
                    id="month"></h1>
                <button onclick="changeMonth(1)">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </header>
        <div id="background-image">
            <table>
                <thead>
                    <tr>
                        <th><div class="table-header">Segunda</div></th>
                        <th><div class="table-header">Terça</div></th>
                        <th><div class="table-header">Quarta</div></th>
                        <th><div class="table-header">Quinta</div></th>
                        <th><div class="table-header">Sexta</div></th>
                        <th><div class="table-header">Sábado</div></th>
                    </tr>
                </thead>
                <tbody
                    hx-post="/calendar"
                    hx-trigger="load, update-month"
                    hx-vals="js:{date: month, year: year}"
                    id="calendar"></tbody>
            </table>
        </div>
        <div class="mask">
            <div class="modal">

            </div>
        </div>
    </body>

    <script>
        var actualMonth = new Date().getMonth() + 1;
        const url = window.location.href.split('/');
        var adder = 0;
        var month = actualMonth + adder;
        var year = 0;
        var clientId = url[url.length - 1];
        var client = {};
        const name = document.querySelector('#client-name');
        let border = 'linear-gradient(45deg, ';

        function changeMonth(modifier) {
            month = month + modifier;
            if (month > 12) {
                month = 1;
                year++;
            } else if (month < 1) {
                month = 12;
                year--;
            }
            htmx.trigger('#month', 'update-month');
            htmx.trigger('#calendar', 'update-month');
        }

        try {
            fetch(`/clients/${clientId}`)
                .then((response) => response.json())
                .then((response) => {
                    client = response.data;
                    name.innerHTML = client.name;

                    const length = client.color.split(',').length;

                    client.color.split(',').forEach((color, index) => {
                        let percent;
                        if (index == 0) percent = 0;
                        else if (index == length - 1) percent = 100;
                        else percent = index * Math.round(100 / (length - 1));

                        border += `${color} ${percent}% `;

                        if (index != length - 1) {
                            border += ',';
                        } else {
                            border += ')';
                        }
                    });

                    const backgroundImage = document.querySelector('#background-image');

                    backgroundImage.style.backgroundImage = border;
                    backgroundImage.style.borderRadius = '4px';
                });
        } catch (error) {
            console.log(error);
        }


        const openModal = (postData = null) => {
            const mask = document.getElementsByClassName('mask')[0];
            const modal = document.getElementsByClassName('modal')[0];

            if (postData) {
                const decodedData = new Uint8Array(atob(postData).split('').map(char => char.charCodeAt(0)));
                const decoder = new TextDecoder('utf-8');
                const originalStr = decoder.decode(decodedData);
                console.log(JSON.parse(originalStr));
            }

            mask.style.display = 'block';
            mask.addEventListener('click', () => {
                mask.style.display = 'none';
                modal.addEventListener('click', (event) => {
                    event.stopPropagation();
                });
            });
            addEventListener('keyup', (event) => {
                if (event.key === 'Escape') {
                    mask.style.display = 'none';
                }
            });
        }
        

    </script>
</html>
