body {
    margin: 0;
    padding: 1rem;
    background-color: #202124;
    color: white;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.home {
    position: absolute;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    left: 10px;
}
.register {
    position: absolute;
    top: 10px;
    font-size: 36px;
    cursor: pointer;
    right: 10px;
}