body {
    margin: 0;
    padding: 1rem;
    background-color: #202124;
    color: white;
    align-items: center;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;   
    -khtml-user-select: none;    
    -moz-user-select: none;      
    -ms-user-select: none;       
    user-select: none;  
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.home {
    position: absolute;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    left: 10px;
    z-index: 1;
}

.register {
    position: absolute;
    top: 10px;
    font-size: 36px;
    cursor: pointer;
    right: 10px;
    z-index: 1;
}